
.App-header {
  background-color:#3e4c6c !important;
  height: 50px;
  color:whitesmoke !important;
}

main{
  background-image:url(../public/images/to-doBackground.jpg);
  color:whitesmoke;
  background-size: cover;
  background-position:center;
  background-attachment: fixed;
}

